{% extends 'base/accounts.html' %}
{% load static %}
{% load i18n %}
{% block title %}Change Password{% endblock title %}
{% block accounts %}}
<section class="accounts">
    <div class="wrapper">
        <h1>{% trans "Change Password" %}</h1>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            <div class="input-wrapper">
                {{ form.oldpassword }}
            </div>
            <div class="input-wrapper">
                {{ form.password1}}
            </div>
            <div class="input-wrapper">
                {{ form.password2}}
            </div>
            <div class="input-wrapper">
                {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                    <p class="error-color t-center">{{ error|escape }}</p>
                    {% endfor %}
                {% endfor %}
                {% endif %}
            </div>
            <div class="submit">
                <button type="submit" name="action">Change Password</button>
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>
        </form>
    </div>
</section>
{% endblock accounts%}
