<section class='navbar'>
    <div class="nav">
        <div class="header">
            <h3>Arizona Pipeline</h3>
        </div>
        <div class="detail">
            <div class="section">
                <span class="material-icons">add</span>
            </div>
            <div class="section">
                <span class="material-icons">question_answer</span>
                <span class="material-icons">info</span>
                <span class="material-icons">settings</span>
            </div>
            <div class="section">
                <span class="material-icons">account_circle</span>
            </div>
        </div>
    </div>

</section>