<section class='side-nav closed'>
    <div class="nav">
        <div class="detail">
            <ul>
                <li><a href="?test=Dashboard">
                    <span class="material-icons">dashboard</span>
                    <p>Dashboard</p></a>
                </li>
                <li><a href="?test=Desk" >
                    <span class="material-icons">switch_left</span>
                    <p class="hidden-item">Change Desk</p></a>
                    <ul class='dropdown'>
                        <li><a href="?test=Support">
                            <span class="material-icons">desktop_mac</span>
                            <p class="drop-item">Support</p></a>
                        </li>
                        <li><a href="?test=eCMS">
                            <span class="material-icons">groups</span>
                            <p class="drop-item">eCMS</p></a>
                        </li>
                        <li><a href="?test=Returns">
                            <span class="material-icons">devices</span>
                            <p class="drop-item">Returns</p></a>
                        </li>
                        <li><a href="?test=HR">
                            <span class="material-icons">badge</span>
                            <p class="drop-item">HR</p></a>
                        </li>
                        <li><a href="?test=Drones">
                            <span class="material-icons">center_focus_weak</span>
                            <p class="drop-item">Drones</p></a>
                        </li>
                    </ul>
                </li>
                <li><a href="http://localhost:8000/tickets/" class="active">
                    <span class="material-icons">label_important</span>
                    <p>Tickets</p></a>
                    <ul class="dropdown">
                        <li><a href="?test=New">
                            <span class="material-icons">description</span>
                            <p class="drop-item">New</p>
                        </a></li>
                        <li><a href="?test=Open">
                            <span class="material-icons">folder_open</span>
                            <p class="drop-item">Open</p>
                        </a></li>
                        <li><a href="?test=Closed">
                            <span class="material-icons">folder</span>
                            <p class="drop-item">Closed</p>
                        </a></li>
                        <li><a href="?test=New">
                            <span class="material-icons">description</span>
                            <p class="drop-item">New</p>
                        </a></li>
                        <li><a href="?test=Pending">
                            <span class="material-icons">update</span>
                            <p class="drop-item">Pending</p>
                        </a></li>
                    </ul>
                </li>
                <li><a href="?test=Alerts">
                    <span class="material-icons">chat</span>
                    <p>Alerts</p>
                </a></li>
                <li><a href="?test=Reports">
                    <span class="material-icons">leaderboard</span>
                    <p>Reports</p></a>
                    <ul class="dropdown">
                        <li><a href="?test=Tech">
                            <span class="material-icons">person</span>
                            <p class="drop-item">Technician</p>
                        </a></li>
                        <li><a href="?test=User">
                            <span class="material-icons">people</span>
                            <p class="drop-item">User</p>
                        </a></li>
                        <li><a href="?test=Reports">
                            <span class="material-icons">leaderboard</span>
                            <p class="drop-item">Reports</p>
                        </a></li>
                        <li><a href="?test=Division">
                            <span class="material-icons">business</span>
                            <p class="drop-item">Division</p>
                        </a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="detail">
            <ul>
                <li>
                    {% if user.is_authenticated %}
                    <a id="toggler" href="{% url 'account_logout' %}">
                    <span class="material-icons">logout</span>
                    <p>logout</p>
                    {% else %}
                    <a id="toggler" href="{% url 'account_login' %}">
                    <span class="material-icons">login</span>
                    <p>login</p>
                    {% endif %}
                </a></li>
                {% comment %} <li><a id="toggler" onclick="toggler()">
                    <span class="material-icons">menu</span>
                    <p>Collapse Menu</p>
                </a></li> {% endcomment %}
            </ul>
        </div>
    </div>
</section>