<div class="title">
    <div class="header">
        <h2>{{ title }}</h2>
    </div>
    <div class="detail">
        <div class="set">
            <span class="material-icons">arrow_left</span>
            <span class="material-icons">arrow_right</span>
        </div>
        <div class="set">
            <span class="material-icons">cached</span>
        </div>
        <div class="set">
            <span class="material-icons">filter_alt</span>
        </div>
        <div class="set">
            <span class="material-icons">sort</span>
        </div>
    </div>
</div>