@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');

:root {
    --font-family-primary: "Roboto", arial, sans-serif;
    --font-family-secondary: "Lato", arial, sans-serif;
    --font-color-primary: #606771;
    --font-weight-primary: 300;
    --font-line-height: 1.6;

    --primary-color-1: #3b6ba5;
    --primary-color-1: #4886af;

    --primary-color-2: #f7f8fa;
    --primary-color-3: #606771;
    --primary-color-4: #E6E7E8;
    --primary-color-5: #42464d;
  
    --secondary-color-1: #34424c;
    --secondary-color-2: #e2eff9;
    --secondary-color-3: #7a8d9a;
    --secondary-color-4: #0d1921;
    --secondary-color-5: #050e14;
  
    --tertiary-color-1: #736057;
    --tertiary-color-2: #fff2eb;
    --tertiary-color-3: #ead0c3;
    --tertiary-color-4: #2c1c14;
    --tertiary-color-5: #1e1009;

    --type-color-1: #8fd6e1;
    --type-color-1: var(--primary-color-1);
    --type-color-2: #289672;
    --type-color-2: #7eca9c;
    --type-color-3: #c64756;
    --type-color-3: #ff8882;

  
    --dark: #333;
    --light: #fff;
    --danger: #F05350;
    --warning: #FFCC00;
    --danger-light: rgba(240, 83, 80, 0.1);
  
    --overlay: rgba(255,255,255,0.8);
  
    --border-dark: 0.1px solid rgba(0, 0, 0, 0.2);
    --border-light: 0.1px solid rgba(255, 255, 255, 0.2);
    --border-medium: .1px  solid rgba(0, 0, 0, 0.1);
    --border-primary: 0.1px solid rgba(78, 157, 209, 0.3);
  
    --transition: all 0.2s;
    --menu-transition: all 0.4s ease;
    --menu-speed: 0.75s;
  
    --menu-width: 60px;
    --menu-height: 100vh;
    --side-menu-width: 20vw;
    --side-menu-height: 100vh;
  
    --max-width: 1200px;
  
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-primary);
    background: var(--primary-color-2);
    line-height: var(--font-line-height);
    font-size: 0.9rem;
    overflow: hidden;
    color: var(--font-color-primary);
}
ul {
    list-style: none;
}
a {
    color: var(--font-color-primary);
    text-decoration: none;
}
h1,
h2,
h3 {
    font-weight: 400;
    line-height: 1.2;
}
img {
    width: 100%;
}
button {
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}
i {
    background: transparent;
    color: var(--light);
}
.fas {
    color: var(--light);
}

.col {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.bar {
    width: 100%;
    height: 30px;
    color: var(--light);
}
.bg-dark { background-color: var(--primary-color-5); color: var(--light)!important;}
.bg-primary { background-color: var(--primary-color-1); color: var(--light)!important;}
.bar.open { background-color: var(--type-color-1); }
.bar.new { background-color: var(--type-color-2); }
.bar.closed { background-color: var(--type-color-3); }
.bar.hold { background-color: var(--type-color-2); }
.br-round { border-bottom-right-radius: 10px; }
.bl-round { border-bottom-left-radius: 10px; }
.button {
    transition: var(--transition);
    cursor: pointer;
}
.button:hover {
    background-color: var(--primary-color-5);
    color: var(--light);
    transition: var(--transition);
}
.s-button { width: 50px; }
.button.l-button { min-width: 100px; }
.button-group {
    display: flex;
    flex-direction: row;
    padding: 5px 30px;
    margin-bottom: 5px;
}
.button-group.ul-buttons .button {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--primary-color-3);
    min-width: 150px;
    transition: var(--transition);
}
.button-group.ul-buttons .button:hover,
.button-group.ul-buttons .button.active {
    background-color: transparent;
    color: var(--primary-color-1);
    border-bottom: 2.5px solid var(--primary-color-1);
    transition: var(--transition);
}
.label {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 20px;
}
.line {
    display: flex;
    align-items: center;
    border-left: 6px solid var(--primary-color-1);
    padding-left: 10px;
    height: 100%
}
.line.new {border-left: 6px solid var(--type-color-2);}
.line.open {border-left: 6px solid var(--type-color-1);}
.line.closed {border-left: 6px solid var(--type-color-3);}
.card {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100%;
    min-width: 150px;
    background-color: var(--light);
    border-radius: 10px;
    filter: drop-shadow(0px 5px 15px rgba(150, 150, 150, 0.2))
}
.card .head {
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 7px 25px;
    border-bottom: 0.1px solid var(--primary-color-4);
    color: var(--font-color-primary);
}
.card .head.message {
    grid-template-rows: 1fr;
    grid-template-columns: 100px 1fr;
}
.card .head .status {
    padding-top: 10px;
    height: 50px;
    align-items: center;
}
.card .head .subject {
    padding-top: 10px;
}
.card .head .status > h3,
.card .head .status > p {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card .head .status .bar {
    margin-top: 10px;
}
.card .head .subject > h3 { margin-bottom: 5px; }
.card .head .subject > h3, 
.card .head .subject > p {
    justify-content: flex-start;
}
.card .head .subject > h3 { font-weight: bold; }
.card .body {
    padding: 20px 25px;
    font-size: 0.8rem;
}
.card .body.round {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card .body > * { margin-bottom: 5px; }
.card .footer {
    display: grid;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color-2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card .footer > * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%
}
.card .footer h3 { font-size: 0.8rem; margin-bottom: 2.5px}
.card .footer p { font-size: 0.7rem; }
.card .footer > .button { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: var(--border-medium);
}
.card .footer > .button:first-child{ border-left: none;}
.card .footer > .button.l-button{
    align-items: flex-start;
    padding: 5px 10px;
}

/* Forms */
* input:not([type="checkbox"]),
* select,
* textarea {
  -webkit-appearance: none;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  height: 100%;
}

/* Scroll Bars */
*::-webkit-scrollbar {
    width: 2.5px;
}
*::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color-1);
}
.set .material-icons {
    background: var(--light);
}

.base {
    height: 100vh;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 60px 1fr;
}
.base.open {
    grid-template-columns: 200px 1fr;
}
/* Navbar */
.navbar {
    grid-column-start: 1;
    grid-column-end: span3;
    height: 100%;
    width: 100vw;
    background-color: var(--primary-color-5);
}
.navbar .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 10px 30px;
    color: var(--primary-color-2);
}
.navbar .nav .detail {
    display: flex;
    align-items: center;
}
.navbar .nav .detail .section {
    display: flex;
    align-items: center;
    margin: 0 10px;
    height: 100%
}
.navbar .nav .detail .section:nth-child(2) {
    border-left: var(--border-light);
    border-right: var(--border-light);
}
.navbar .nav .detail .section > * {
    margin: 0 10px;
}
.navbar .material-icons {
    font-size: 1.2rem;
}

/* Sidenav */
.side-nav {
    height: 100%;
    background-color: var(--primary-color-4);
    width: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: var(--border-medium);
    transition: width .3s ease-in-out;
}
.side-nav.open {
    width: 200px;
    transition: width .3s ease-in-out;
}
.side-nav .nav,
.side-nav .nav ul,
.side-nav .nav li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.side-nav .nav{
    justify-content: space-between;
    height: 100%;
}
.side-nav .nav .detail,
.side-nav .nav > ul, 
.side-nav .nav li{
    width: 100%;
    height: 50px;
}
.side-nav .nav ul {
    width: 50px;
}
.side-nav .nav li {
    height: 40px;
}
.side-nav .nav ul{
    position: absolute;
    width: 50px;
}
.side-nav .nav li a{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 40px;
    padding: 5px 10px;
    transition: var(--transition)
}
.side-nav .nav li a > span {
    margin-right: 20px
}
.side-nav.open .nav li span {
    margin-right: 10px
}
.side-nav .nav li a:hover,
.side-nav .nav li a.active {
    background-color: var(--primary-color-5);
    color: var(--light);
    border-left: 4px solid var(--primary-color-1);
    transition: var(--transition)
}
.side-nav .nav li a.hidden {
    display: none;
}
.side-nav .nav li a:hover li a {
    display: block;
}
.side-nav.closed .nav ul > li a > p{
    display: none;
}
.side-nav.open .nav ul > li > ul { 
    flex: 1;
    transition: flex 0.5s ease-in-out;
}
.side-nav.open .nav ul > li > ul{
    margin-left: 15px;
}
.side-nav.open .nav ul > li > ul li a{
    height: 30px;
}
.side-nav.open .nav ul > li > ul li a .material-icons {
    font-size: 1rem;
}
.side-nav .nav ul.dropdown {
    background-color: var(--primary-color-2);
    border: var(--border-dark);
    position: relative;
    top: -40px;
    left: 50px;
    z-index: 98;
    width: 150px;
}
.side-nav .nav li ul.dropdown {
    display: none;
    transition: width 0.1s ease-in-out;
    font-size: .8rem;
}
.side-nav.closed .nav ul .drop-item {
    display: inline;
}
.side-nav .nav li:hover ul.dropdown {
    display: inline-block;
    transition: width 0.1s ease-in-out;
}


/* .side-nav.closed .nav ul > li > ul,
.side-nav.closed .nav ul > li > a p {
    flex: 0;
    transition: flex 0.5s ease-in-out;
    display: none;
} */




/* .side-nav .nav .detail ul > * {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    height: 100%;
    transition: var(--transition);
} */

/* 
.side-nav .nav .detail .row:hover,
.side-nav .nav .detail.active,
.side-nav.open .nav .detail .item:hover {
    border-left: 3px solid var(--primary-color-1);
    background-color: var(--primary-color-5);
    color: var(--light);
}
.side-nav.open .nav .detail .row > * {
    justify-content: flex-start;
    padding: 10px;
    width: auto;
}
.side-nav.open .nav .detail .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.side-nav.open .nav .detail .items {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 25px;
    padding-top: 0;
}
.side-nav.open .nav .detail .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.side-nav.open .nav .detail .item > * {
    padding: 10px;
    font-size: .9rem;
}

.side-nav .nav .detail .items,
.side-nav .nav .detail .row > *:last-child {
    display: none;
}
.side-nav.open .nav .detail .row > *:last-child {
    display: block;
}
.side-nav .nav .detail .row:hover .items {
    display: block
} */

/* ====== Main Area ====== */
.main {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
    height: calc(100vh - 61px);
    grid-template-rows: 65px 45px 1fr;
}
/* ====== END Main Area ====== */

/* ====== Title Bar ====== */
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 35px;
    border-bottom: var(--border-medium);
}
.title .header {
    display: flex;
    align-items: center;
    height: 100%
}
.title .detail {
    display: flex;
    align-items: center;
    height: 100%
}
.title .detail .set {
    display: flex;
    align-items: center;
    margin: 0 5px;
    height: 100%
}
.title .detail .set .material-icons {
    display: flex;
    align-items: center;
    height: 60%;
    padding: 0 10px;
    transition: var(--transition);
    border-radius: 5px;
}
.title .detail .set .material-icons:hover {
    background-color: var(--primary-color-3);
    color: var(--primary-color-4)
}
/* ====== END Title Bar ====== */

/* ====== Ticket Home ====== */
.ticket-home {
    height: calc(100vh - 140px);
}
.ticket-home .head,
.ticket-home .record {
    margin-left: 0px;
    align-items: center;
    display: grid;
    grid-template-columns: minmax(250px, 850px) repeat(5, minmax(75px, 350px));
}
.ticket-home .head {
    border-bottom: var(--border-medium);
    font-size: .8rem;
    height: 40px
}
.ticket-home .records{ height: calc(100vh - 180px); overflow-x: scroll; }
.ticket-home .record {
    height: 45px;
    border-bottom: var(--border-medium);
    background-color: var(--light);
    font-size: .8rem;
    transition: var(--transition);
}
.ticket-home .record *:first-of-type,
.ticket-home .head *:first-of-type {
    padding-left: 25px
}
.ticket-home .record:hover{
    background-color: var(--primary-color-2);
}
/* ====== END Ticket Home ====== */

/* ====== Accounts Signing ====== */
.accounts {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vh;
}
.accounts .wrapper {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
.accounts .wrapper h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 2rem;
    margin-bottom: 20px;
}
.accounts .input-wrapper {
    display: flex;
    flex-direction: column;
}
.accounts input {
    border-radius: 0;
    border: none;
    border-bottom: var(--border-medium);
    padding: 10px 4px;
    margin-bottom: 20px;
    background: transparent;
    width: 100%;
    transition: all 0.5s ease-out;

}
.accounts input:focus,
.accounts input:hover {
    outline: none;
    border-bottom: 1px solid var(--primary-color-1);
    transform: scale(1.05);
    transition: all 0.5s ease-out;
}
.accounts input::placeholder {
    color: #9fa0a1;
}
.accounts input[type="checkbox"] {
    display: inline;
    width: 25px;
    margin: 0;
    padding: 0;
}
.accounts .submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%
}
.accounts .submit button {
    padding: 10px 15px;
    width: 100%;
    color: var(--primary-color-1);
    font-size: .9rem;
    transition: all 0.2s ease-out;
    border: 0.1px solid rgba(72, 124, 175, 0.2);
    border-radius: 10px;
    margin-bottom: 10px;
}
.accounts .submit button:hover {
    transition: all 0.2s ease-out;
    border: var(--border-medium);
    transform: scale(1.05);
}
.accounts .link {
    color: var(--primary-color-5);
    transition: all 0.1s ease-out;
}
.accounts .link:hover {
    color: var(--primary-color-1);
    transform: scale(1.02);
    transition: all 0.1s ease-out;
}
.accounts .remember {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #9fa0a1;
    margin-bottom: 10px;
}
.accounts .remember p {
    margin-right: 5px;
}
/* ====== END Accounts Signing ====== */

/* .main > .record {
    height: 45px;
    border-bottom: var(--border-medium);
    background-color: var(--light);
    font-size: .8rem;
    transition: var(--transition);
}
.main .record.new {
    border-left: 5px solid var(--type-color-2);
}
.main .record.taken {
    border-left: 5px solid var(--type-color-1);
}
.main .record.response-needed {
    border-left: 5px solid var(--type-color-3);
}
.main .record:hover {
    background-color: var(--primary-color-2);
} */



/* ====== Ticket Detail Page ====== */
.tickets {
    padding: 10px;
    height: calc(100vh - 130px);
    width: 100%;
}
.tickets .container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: calc(100vh - 140px);
    gap: 15px; 

}
.tickets .container .left {
    display: grid;
    height: 100%;
    grid-template-rows: max-content 45px 40px 1fr;
}
.tickets .container .right {
    display: grid;
    height: 100%;
    grid-template-rows: max-content;
    gap: 15px;
}
.message .head.message {
    display: grid; 
    min-height: 90px;
    background-color: var(--light);
    filter: drop-shadow(0px 5px 15px rgba(150, 150, 150, 0.2))
}
.message .card .footer {
    display: grid;
    height: 50px;
    grid-template-columns: repeat(2, 60px) repeat(5, 1fr) 60px;
}
.comments {
    height: 100%;
    overflow-y: scroll;
}
.comment { margin-bottom: 15px; }
.comment .card {
    filter: drop-shadow(0px 0px 5px rgba(150, 150, 150, 0.2))
}
.comment .head > span { font-size: 2.5rem; }
.comment .head .info p { font-size: 0.75rem; }
.comment .body { padding-left: 25px; }
.comment .footer {
    display: grid;
    height: 50px;
    grid-template-columns: 60px 1fr repeat(2, 60px) ;
}
.comment .footer .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    border-left: var(--border-medium);
}
.info .card {
    margin-bottom: 15px;
}
.info .card .head {
    justify-content: center;
    padding: 10px 0;
}
.info .card .body {
    padding: 0;
}
.info .card .body > * {
    margin: 0px;
    padding: 5px 10px;
    border-bottom: var(--border-medium);
}
.info .card .body > *:last-of-type { border-bottom: none; }
/* ====== END Ticket Detail Page ====== */
/*

.tickets .message .head {
    display: grid;
    grid-template-columns: 140px 1fr;
    padding: 10px;
    gap: 15px;
}
.tickets .message .head .status,
.tickets .message .head .subject {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    width: 100%;
}
.tickets .message .head .status > h3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tickets .message .head .status > p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--type-color-2);
    color: var(--light);
}
.tickets .message .head .subject > h3 {
    display: flex;
    align-items: center;
    font-weight: bold;
}
.tickets .message .head .subject > p  {
    display: flex;
    align-items: center;
}
.tickets .message .detail {
    display: grid;
    grid-template-columns: repeat(2, 50px) repeat(5, 1fr) 60px;
    background-color: var(--primary-color-2);
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.tickets .message .detail > * {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: var(--border-medium);
}
.tickets .message .detail > *:first-child{
    border-left: none;
}
.tickets .message .detail .set {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    padding-left: 15px;
}
.tickets .message .detail .set p:first-of-type {
    font-size: 0.7rem;
}
.tickets .message .detail .set p:nth-of-type(2) {
    font-size: 0.8rem;
}
.tickets .message .detail span:first-of-type {
    border-bottom-left-radius: 10px;
}
.tickets .message .detail span:last-of-type {
    border-bottom-right-radius: 10px;
} .tickets .message .detail span:hover {
    color: var(--primary-color-1);
    background-color: var(--primary-color-5);
} */
/* 
 .tickets .comments {
    background-color: var(--light);
    border-radius: 10px;
    filter: drop-shadow(0px 5px 15px rgba(150, 150, 150, 0.2));
    margin-top: 15px;
}
.tickets .comments .user-detail {
    display: flex;
    color: var(--font-color-primary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 7px 25px;
    border-bottom: 0.1px solid var(--primary-color-4);
}
.tickets .comments .user-detail .user-pic *{
    font-size: 2rem;
    margin-right: 10px;
}
.tickets .comments .user-detail p {
    font-size: 0.7rem;
    color: var(--primary-color-5);
}
.tickets .comments .comment {
    padding: 10px 30px;
    font-size: 0.8rem;
} */
/* .tickets .footer {
    display: grid;
    align-items: center;
    grid-template-columns: 60px 1fr 60px 60px;
    grid-template-rows: 1fr;
    background-color: var(--primary-color-2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 0.7rem;
    height: 55px;
} */
/* 
.tickets .footer > * {
    border-right:  var(--border-medium);
}
.tickets .footer > span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: var(--transition);
}
.tickets .footer > span:first-of-type{
    border-bottom-left-radius: 10px;
}
.tickets .footer > span:nth-of-type(3){
    border-bottom-right-radius: 10px;
    border-right: none;
}
.tickets .footer > span:hover {
    background-color: var(--primary-color-5);
    color: var(--primary-color-1);
    transition: var(--transition);
}
.tickets .footer .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    height: 100%;
} */
/* .tickets .container .card {
    height: 200px;
    width: 100%;
    background-color: var(--light);
    border-radius: 10px;
    filter: drop-shadow(0px 5px 15px rgba(150, 150, 150, 0.2))
}
.tickets .container .card .header {
    border-bottom:  var(--border-medium);
}
.tickets .container .card > * {
    padding: 10px 15px;
}
.tickets .container .card .detail {
    font-size: 0.7rem;
    padding-top: 0px;
}
.tickets .container .card .detail > * {
    margin-top: 10px;
    color: var(--primary-color-1);
    border-bottom:  var(--border-medium);
} */



/* .tickets .container .message {
    display: grid;
    grid-template-rows: minmax(250px, max-content) 150px minmax(250px, max-content);
    padding: 10px;
    gap: 20px;
}
.tickets .info {
    display: grid;
    grid-template-rows: 250px 150px 1fr;
    gap: 20px;
    padding: 10px;
}
.tickets .message .subject,
.tickets .info .user,
.tickets .info .ticket,
.tickets .info .attachments {
    display: grid;
    grid-template-rows: 45px 25px 1fr;
    background-color: var(--light);
    border-radius: 5px;
    filter: drop-shadow(0px 5px 15px rgba(150, 150, 150, 0.2))
}
.tickets .info .user,
.tickets .info .ticket,
.tickets .info .attachments {
    grid-template-rows: 45px 1fr;
}
.tickets .header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: var(--primary-color-5);
    color: var(--light);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.tickets .info .user .header {
    background-color: var(--primary-color-1);
}
.tickets .message .subject .buttons {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color-4);
}
.tickets .message .subject .buttons > * {
    font-size: 0.8rem;
    color: var(--dark)
}
.tickets .message .subject .body {
    padding: 10px;
}
.tickets .info .details {
    display: grid;

    padding: 10px
}

.tickets .info .user .set {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
}
.tickets .info .user .set p {
    font-size: 0.8rem;
} */

