{% extends 'base/base.html' %}
{% block content %}
{% include 'base/title.html' %}
<div class="ticket-home">
    <div class="head">
        <p>ISSUE</p>
        <p>Category</p>
        <p>DIVISION</p>
        <p>USER</p>
        <p>TECH</p>
        <p>CREATED</p>
    </div>
    <div class="records">
    {% for ticket in tickets %}
        <div class="record" data-href='{{ ticket.get_absolute_url }}'>
            <p class="line {{ ticket.get_status_css_class }}">{{ ticket.subject }}</p>
            <p>{{ ticket.category }}</p>
            <p>{{ ticket.division }}</p>
            <p>{{ ticket.submitter }}</p>
            <p>{{ ticket.get_assigned_to }}</p>
            <p>{{ ticket.created|date:"M dS h:i A" }}</p>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}
