{% extends 'base/base.html' %}
{% block content %}
{% include 'base/title.html' %}

<section class='main-form'>
    <div class="card">
        <div class="form"> 
            <form id="newTicketForm" method="post" data-subcategories-url="{% url 'tickets:ajax_load_subcategories' %}">
            {% csrf_token %}
                    {% comment %} <label for="category">Category</label> {% endcomment %}
                    {{ form.category }}
                    {% comment %} <label for="subcategory">Subcategory</label> {% endcomment %}
                    {{ form.subcategory }}
                    {{ form.associated_employee }}
                
                    {{ form.issue }}
                
                
                
                {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                        <p class="error-color t-center">{{ error|escape }}</p>
                    {% endfor %}
                    {% endfor %}
                {% endif %}
                <div class="submit">
                    <button type="submit">Create Ticket</button>
                </div>
            </form>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_category").change(function () {
        var categoryId = $(this).val();
        var url = $('#newTicketForm').attr("data-subcategories-url");
        var employeeForm = $("#id_associated_employee");
        
        if (categoryId === '2') {
            employeeForm.removeClass('hidden')
        }
        else {
            employeeForm.addClass('hidden')
        }
        
        $.ajax ({
            url: url,
            data: {
                'category': categoryId
            },
            success: function (data) {
                $("#id_subcategory").html(data);
            }
        })
    });

    $("#id_subcategory").change(function () {
        console.log($(this).val())
        if ($(this).val() === '2') {
            console.log('here')
        }
    });
</script>
{% endblock content %}