{% extends 'base/base.html' %}
{% block content %}
<div class="title">
    <div class="header">
        <h2>Ticket: {{ title }} | {{ ticket.subject }}</h2>
    </div>
    <div class="detail">
        <div class="set">
            <span class="material-icons">arrow_left</span>
            <span class="material-icons">arrow_right</span>
        </div>
        <div class="set">
            <span class="material-icons">cached</span>
        </div>
        <div class="set">
            <span class="material-icons">filter_alt</span>
        </div>
        <div class="set">
            <span class="material-icons">sort</span>
        </div>
    </div>
</div>
<div class="tickets">
    <div class="container">
        <div class="left">
            <div class="message">
                <div class="card">
                    <div class="head col message">
                        <div class="status">
                            <h3>Ticket: {{ ticket.id }}</h3>
                            <p class="bar {{ ticket.get_status_css_class}}">{{ ticket.get_status_display }}</p>
                        </div>
                        <div class="subject">
                            <h3>{{ ticket.subject }}</h3>
                            <p>{{ ticket.issue }}</p>
                        </div>
                    </div>
                    <div class="footer">
                        <span class="material-icons button s-button bl-round">more_horiz</span>
                        <span class="material-icons button s-button">post_add</span>
                        <div class="button l-button">
                            <h3>Submitter</h3>
                            <p>{{ ticket.submitter }}</p>
                        </div>
                        <div class="button l-button">
                            <h3>Tech</h3>
                            <p>{{ ticket.get_assigned_to }}</p>
                        </div>
                        <div class="button l-button">
                            <h3>Division</h3>
                            <p>09-Pacific</p>
                        </div>
                        <div class="button l-button">
                            <h3>Category</h3>
                            <p>{{ ticket.category }}</p>
                        </div>
                        <div class="button l-button">
                            <h3>Date</h3>
                            <p>{{ ticket.created }}</p>
                        </div>
                        <span class="material-icons button s-button br-round">reply</span>
                    </div>
                </div>
            </div>
            <div class="label">
                <h3>Updates</h3>
            </div>
            <div class="button-group ul-buttons">
                <p class="button">Attachments</p>
                <p class="button active">Messages</p>
                <p class="button">Notes</p>
            </div>
            <div class="comments">
                {% for comment in ticket.comment_set.all %}
                <div class="comment">
                    <div class="card">
                        <div class="head col {% if comment.public %} bg-primary {% else %}{% endif %}">
                            <span class="material-icons">account_circle</span>
                            <div class="info">
                                <h3>{{ comment.user }}</h3>
                                <p>{{ comment.date }}</p>
                            </div>
                        </div>
                        <div class="body">
                            <p>{{ comment }}</p>
                        </div>
                        <div class="footer">
                            <span class="material-icons button s-button bl-round">email</span>
                            <div class="info">
                                <p>{% if comment.public %}Tech only {% endif %}</p>
                                <p></p>
                            </div>
                            <span class="material-icons button s-button">add</span>
                            <span class="material-icons button s-button br-round">reply</span>
                        </div>
                    </div>
                </div>
                {% endfor%}
            </div>
        </div>
        <div class="right">
            <div class="info">
                <div class="card">
                    <div class="head bg-primary">
                        <h3>Tech Tickets</h3>
                    </div>
                    <div class="body round">
                        <p class="button">New Device - iPhone (16043)</p>
                        <p class="button">New Device - Laptop (17407)</p>
                        <p class="button">New Device - iPad (16009)</p>
                        <p class="button">New Device - iPad (14261)</p>
                        <p class="button">New Device - iPad (14262)</p>
                        <p class="button">New Device - iPad (14263)</p>
                        <p class="button">New Device - iPad (14260)</p>
                        <p class="button">New Device - iPhone (14260)</p>
                    </div>
                </div>
                <div class="card">
                    <div class="head bg-primary">
                        <h3>User Tickets</h3>
                    </div>
                    <div class="body round">
                        <p class="button">New Device - iPhone (16043)</p>
                        <p class="button">New Device - iPhone (17424)</p>
                        <p class="button">New Device - iPad (17424)</p>
                        <p class="button">New Device - iPad (14260)</p>
                        <p class="button">New Device - iPhone (14260)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}