{% extends 'base/base.html' %}
{% block content %}
{% include 'base/title.html' %}
<div class="tickets">
    <div class="container">
        <div class="left">
            <div class="message">
                <div class="head">
                    <div class="status">
                        <h3>Ticket: 12345</h3>
                        <p>NEW</p>
                    </div>
                    <div class="subject">
                        <h3>New Device - iPhone (17394)</h3>
                        <p>We would like to order an iPhone for Javier Hernandez 17394. (818) Area code with hotspot </p>
                    </div>
                </div>
                <div class="detail">
                    <span class="material-icons">more_horiz</span>
                    <span class="material-icons">post_add</span>
                    <div class="set">
                        <p>Submitter</p>
                        <p>Isabel Yanez</p>
                    </div>
                    <div class="set">
                        <p>Tech</p>
                        <p>Clara Martinez</p>
                    </div>
                    <div class="set">
                        <p>Division</p>
                        <p>09-Pacific</p>
                    </div>
                    <div class="set">
                        <p>Category</p>
                        <p>New Smart Device</p>
                    </div>
                    <div class="set">
                        <p>Date</p>
                        <p>2021-04-08</p>
                    </div>
                    <span class="material-icons">reply</span>
                </div>
            </div>
            <div class="label">
                <h3>Updates</h3>
            </div>
            <div class="types">
                <p>Attachments</p>
                <p>Messages</p>
                <p>Notes</p>
            </div>
            <div class="comments">
                <div class="user-detail">
                    <div class="user-pic">
                        <div class="material-icons">account_circle</div>
                    </div>
                    <div class="user-info">
                        <h3>Clara</h3>
                        <p>2 minutes ago</p>
                    </div>
                </div>
                <div class="comment">
                    <p>Hi Isabel!</p><br>
                    <p>Request has been completed. Including Vanessa for shipment information. This request will now be closed.</p>
                    <br>
                    <p>Thanks,</p>
                    <p>- Clara</p>
                    
                </div>
                <div class="footer">
                    <span class="material-icons">email</span>
                    <div class="info">
                        <p>other recipients</p>
                        <p>jwhitworth@arizonapipeline.com, accounts@alopextech.com</p>
                    </div>
                    <span class="material-icons">add</span>
                    <span class="material-icons">reply</span>
                </div>
            </div>
            <div class="comments">
                <div class="user-detail">
                    <div class="user-pic">
                        <div class="material-icons">account_circle</div>
                    </div>
                    <div class="user-info">
                        <h3>Isabel</h3>
                        <p>5 minutes ago</p>
                    </div>
                </div>
                <div class="comment">
                    <p>Hi Clara!</p><br>
                    <p>I checked employees phone, and the Authenticator app is greyed out. There is a message that shows unable to install.</p>
                    <br>
                    <p>Thanks,</p>
                    <p>- Isabel</p>
                </div>
                <div class="footer">
                    <span class="material-icons">email</span>
                    <div class="info">
                        <p>other recipients</p>
                        <p>jwhitworth@arizonapipeline.com, accounts@alopextech.com</p>
                    </div>
                    <span class="material-icons">add</span>
                    <span class="material-icons">reply</span>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="card">
                <div class="header">
                    <h3>Tech Tickets</h3>
                </div>
                <div class="detail">
                    <p>New Device - iPhone (16043)</p>
                    <p>New Device - Laptop (17407)</p>
                    <p>New Device - iPad (16009)</p>
                    <p>New Device - iPad (14260)</p>
                    <p>New Device - iPhone (14260)</p>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h3>User Tickets</h3>
                </div>
                <div class="detail">
                    <p>New Device - iPhone (16043)</p>
                    <p>New Device - iPhone (17424)</p>
                    <p>New Device - iPad (17424)</p>
                    <p>New Device - iPad (14260)</p>
                    <p>New Device - iPhone (14260)</p>
                </div>
            </div>

        </div>
        {% comment %} <div class="info">
            <div class="user">
                <div class="header">
                    <h3>Details</h3>
                </div>
                <div class="details">
                    <div class="set">
                        <p>Division:</p>
                        <p>09-Pacific</p>
                    </div>
                    <div class="set">
                        <p>Category:</p>
                        <p>Smart Device</p>
                    </div>
                    <div class="set">
                        <p>Submitter:</p>
                        <p>Isabel Yanez</p>
                    </div>
                    <div class="set">
                        <p>Technician:</p>
                        <p>Clara Martinez</p>
                    </div>
                    <div class="set">
                        <p>Created:</p>
                        <p>2011-04-08</p>
                    </div>
                    <div class="set">
                        <p>Due:</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="attachments">
                <div class="header">
                    <h3>Attachments</h3>
                </div>
            </div>
            <div class="ticket">
                <div class="header">
                    <h3>Tickets</h3>
                </div>
            </div>
        </div> {% endcomment %}
    </div>
</div>


{% endblock content %}